.has-dark-bkg-image {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.has-dark-bkg-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 90px 24px 90px;
  width: 1052px;
}
.header__block {
  align-content: center;
}
.header__menu {
  width: 392px;
  margin-left: 26.5px;
}
.menu__list {
  display: flex;
}
.header__menu__list {
  list-style: circle;
}
.menu__item {
  margin-left: 29px;
  padding-left: 3px;
}
.menu__item:first-child {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.menu__link {
  letter-spacing: 0.2px;
}
.menu__link--active {
  letter-spacing: initial;
  border-width: 0;
}
.logo {
  margin: 2px 0 0 39px;
}
.logo__link {
  border-width: 0;
}
.logo__black {
  margin-left: 454px;
  width: 129px;
  height: 105px;
}
address {
  font-style: normal;
  line-height: 24px;
  width: 240px;
}
address.header__block {
  margin-left: 191px;
  margin-bottom: 2px;
}
.contacts__adress {
  margin-top: 1px;
  margin-left: 1px;
}
.lotus {
  width: 1100px;
  color: #ffffff;
  text-transform: uppercase;
}
.lotus:after {
  background-image: url(/images/cover.jpg);
}
.lotus__words {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.3em;
  margin: 165px 49.5px 0 50.5px;
}
.lotus__words__line {
  margin-top: 20px;
}
.lotus__words__line:first-child {
  margin-top: 0;
  line-height: 115px;
}
.lotus__words__centered-line {
  text-align: center;
}
.lotus__words__right-line {
  text-align: right;
}
.wide__spaced {
  letter-spacing: 0.6em;
}
.no__spaced {
  letter-spacing: initial;
}
.slightly__spaced {
  letter-spacing: 0.2px;
}
.lotus__subline {
  margin: 135px 50px 51px 78px;
  font-weight: 400;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lotus__subline p {
  word-spacing: 0.85em;
}
.lotus__subline__button {
  width: 256px;
  height: 51px;
  font-size: 22px;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: currentColor solid 1px;
}
.lots {
  margin-top: 175px;
}
.lots__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  margin-left: 64px;
  text-transform: uppercase;
}
.lots__cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 24px 30px;
  justify-content: space-between;
}
.lot__card {
  width: 334px;
  min-height: 563px;
  display: flex;
  margin-top: 23px;
}
.lot__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  border-bottom-width: 0;
  color: #ffffff;
}
.lot__title {
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.lot__teaser {
  font-size: 20px;
  line-height: 24px;
}
.lot__teaser__spaced {
  letter-spacing: 0.13em;
}
.lots__link {
  margin-left: 64px;
  font-size: 20px;
  line-height: 23px;
}
.lot__film:after {
  background-image: url(/images/card-lot-01.jpg);
}
.lot__book:after {
  background-image: url(/images/card-lot-02.jpg);
}
.lot__art:after {
  background-image: url(/images/card-lot-03.jpg);
}
.description {
  margin: 182px 25px 0 71px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
}
.description__image {
  width: 240px;
  height: 240px;
  background-color: #000000;
  margin-right: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.description__title {
  width: 692px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-top: 8px;
}
.description__text {
  width: 692px;
  font-size: 20px;
  line-height: 24px;
}
.description__text p {
  margin: 8px 0 24px;
}
.description__text p:last-child {
  margin-bottom: 0;
}
footer {
  margin: 180px 50px 87px 50px;
  display: flex;
  justify-content: space-between;
}
.footer__block {
  width: 240px;
  list-style-type: none;
}
.footer__menu {
  list-style: none;
  flex-direction: column;
  align-items: center;
}
.footer__menu__item {
  margin: 0;
  padding: 0;
  height: 21px;
}
.footer__menu__link {
  font-size: 18px;
  line-height: 21px;
}
.social {
  display: flex;
  justify-content: space-between;
}
.social__link {
  border-bottom-width: 0;
}
